body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efefef;
}

.pokedex-grid {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
}
.pokemon-list {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  flex-basis: 20%;
  flex-grow: 2;
  overflow: hidden;
}
.pokemon-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pokemon-list li {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.pokemon-list .active {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.pokemon-pagination {
  display: flex;
  flex-direction: row;
}
.pokemon-pagination > * {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 1em;
  font-weight: bold;
  padding: 0.25em 0;
}
.pokemon-pagination > *:hover:not(:disabled) {
  background: gray;
  color: white;
}
.pokemon-profile {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  flex: 10;
  padding: 1rem;
  box-sizing: border-box;
}
.skeleton {
  background: currentColor;
  opacity: 0.25;
  border-radius: 2px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.3;
  }
}
